<div class="panel panel-default">
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="fNameInput">Name</label>
                <input #fName id="nameInput" class="form-control" placeholder="name">
            </div>
            <div class="form-group">
                <label for="lNameInput">Name</label>
                <input #lName id="nameInput" class="form-control" placeholder="name">
            </div>
            <div class="form-group">
                <label for="phoneInput">Phone</label>
                <input #phone id="phoneInput" class="form-control" placeholder="0000000000">
            </div>
            <div class="form-group">
                <label for="emailInput">Email</label>
                <input #email id="emailInput" class="form-control" placeholder="Email">
            </div>

            <button (click)="addEntry(fName.value, lName.value, phone.value, email.value)" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
