
<div class="container-fluid" *ngIf="business">
  <div class="jumbotron">
    <h2>{{business.name}}</h2>
    <p>{{business.address}} | {{business.phone}}</p>
    <p>{{business.about}}</p>
  </div>
  <!-- Business Services -->
  <div class="panel panel-default">
    <div class="panel-heading"><h4>Our Services</h4></div>
    <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item" *ngFor="let service of services" (click)="onSelect(service)">
              <span>{{service.name}} | {{service.duration}}</span>
              <button type="button" class="btn btn-default btn-sm pull-right">Schedule Appointment</button>
            </div>
        </div>
    </div>
  </div>
  <!-- Business Feedback -->
  <div class="panel panel-default">
    <div class="panel-heading"><h4>Recent Feedback</h4></div>
    <div class="panel-body">

    </div>
  </div>

</div>
